@charset "utf-8";
.main {
    width: 50%;
    height: auto;
    margin: 100px auto;
}

.div1 {
    position: absolute;
    top: 300px;
    left: 500px;
    background: pink;
    opacity: 0.6;
    width: 300px;
    height: 300px;
    z-index: 1;
    border-radius: 300px 0px;
    ;
    -webkit-transform-origin: 0px 300px;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: wa1 10s ease 2s infinite alternate;
    transform-origin: 0px 300px;
    transform: rotate(-45deg);
    animation: a1 10s ease 2s infinite alternate;
}

.div2 {
    position: absolute;
    top: 300px;
    left: 500px;
    background: pink;
    opacity: 0.6;
    width: 300px;
    height: 300px;
    z-index: 2;
    border-radius: 300px 0px;
    ;
    -webkit-transform-origin: 0px 300px;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: wa2 10s ease 2s infinite alternate;
    transform-origin: 0px 300px;
    transform: rotate(-45deg);
    animation: a2 10s ease 2s infinite alternate;
}

.div3 {
    position: absolute;
    top: 300px;
    left: 500px;
    background: pink;
    opacity: 0.6;
    width: 300px;
    height: 300px;
    z-index: 3;
    border-radius: 300px 0px;
    ;
    -webkit-transform-origin: 0px 300px;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: wa3 10s ease 2s infinite alternate;
    transform-origin: 0px 300px;
    transform: rotate(-45deg);
    animation: a3 10s ease 2s infinite alternate;
}

.div4 {
    position: absolute;
    top: 300px;
    left: 500px;
    background: pink;
    opacity: 0.6;
    width: 300px;
    height: 300px;
    z-index: 4;
    border-radius: 300px 0px;
    ;
    -webkit-transform-origin: 0px 300px;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: wa4 10s ease 2s infinite alternate;
    transform-origin: 0px 300px;
    transform: rotate(-45deg);
    animation: a4 10s ease 2s infinite alternate;
}

.div5 {
    position: absolute;
    top: 300px;
    left: 500px;
    background: pink;
    opacity: 0.6;
    width: 300px;
    height: 300px;
    z-index: 5;
    border-radius: 300px 0px;
    ;
    -webkit-transform-origin: 0px 300px;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: wa5 10s ease 2s infinite alternate;
    transform-origin: 0px 300px;
    transform: rotate(-45deg);
    animation: a5 10s ease 2s infinite alternate;
}

.div6 {
    position: absolute;
    top: 300px;
    left: 500px;
    background: pink;
    opacity: 0.6;
    width: 300px;
    height: 300px;
    z-index: 6;
    border-radius: 300px 0px;
    ;
    -webkit-transform-origin: 0px 300px;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: wa6 10s ease 2s infinite alternate;
    transform-origin: 0px 300px;
    transform: rotate(-45deg);
    animation: a6 10s ease 2s infinite alternate;
}

.div7 {
    position: absolute;
    top: 300px;
    left: 500px;
    background: pink;
    opacity: 0.6;
    width: 300px;
    height: 300px;
    z-index: 7;
    border-radius: 300px 0px;
    ;
    -webkit-transform-origin: 0px 300px;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: wa7 10s ease 2s infinite alternate;
    transform-origin: 0px 300px;
    transform: rotate(-45deg);
    animation: a7 10s ease 2s infinite alternate;
}

.div8 {
    position: absolute;
    top: 300px;
    left: 500px;
    background: pink;
    opacity: 0.6;
    width: 300px;
    height: 300px;
    z-index: 8;
    border-radius: 300px 0px;
    ;
    -webkit-transform-origin: 0px 300px;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: wa8 10s ease 2s infinite alternate;
    transform-origin: 0px 300px;
    transform: rotate(-45deg);
    animation: a8 10s ease 2s infinite alternate;
}

.div9 {
    position: absolute;
    top: 300px;
    left: 500px;
    background: pink;
    opacity: 0.6;
    width: 300px;
    height: 300px;
    z-index: 9;
    border-radius: 300px 0px;
    ;
    -webkit-transform-origin: 0px 300px;
    -webkit-transform: rotate(-45deg);
    transform-origin: 0px 300px;
    transform: rotate(-45deg);
}

@-webkit-keyframes wa1 {
    from {
        -webkit-transform: rotate(-45deg);
    }
    to {
        -webkit-transform: rotate(-125deg);
    }
}

@keyframes a1 {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(-125deg);
    }
}

@-webkit-keyframes wa2 {
    from {
        -webkit-transform: rotate(-45deg);
    }
    to {
        -webkit-transform: rotate(-105deg);
    }
}

@keyframes a2 {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(-105deg);
    }
}

@-webkit-keyframes wa3 {
    from {
        -webkit-transform: rotate(-45deg);
    }
    to {
        -webkit-transform: rotate(-85deg);
    }
}

@keyframes a3 {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(-85deg);
    }
}

@-webkit-keyframes wa7 {
    from {
        -webkit-transform: rotate(-45deg);
    }
    to {
        -webkit-transform: rotate(-65deg);
    }
}

@keyframes a7 {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(-65deg);
    }
}

@-webkit-keyframes wa4 {
    from {
        -webkit-transform: rotate(-45deg);
    }
    to {
        -webkit-transform: rotate(35deg);
    }
}

@keyframes a4 {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(35deg);
    }
}

@-webkit-keyframes wa5 {
    from {
        -webkit-transform: rotate(-45deg);
    }
    to {
        -webkit-transform: rotate(15deg);
    }
}

@keyframes a5 {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(15deg);
    }
}

@-webkit-keyframes wa6 {
    from {
        -webkit-transform: rotate(-45deg);
    }
    to {
        -webkit-transform: rotate(-5deg);
    }
}

@keyframes a6 {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(-5deg);
    }
}

@-webkit-keyframes wa8 {
    from {
        -webkit-transform: rotate(-45deg);
    }
    to {
        -webkit-transform: rotate(-25deg);
    }
}

@keyframes a8 {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(-25deg);
    }
}