<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit" />
		<title>碗里课程 - 碗里学院</title>
        <link rel="stylesheet" type="text/css" href="../app/css/common.css">
		<link rel="stylesheet" type="text/css" href="../app/css/course.css">
		<script type="text/javascript" src="../app/script/libs/require.js"></script>
		<script type="text/javascript" src="../app/script/service/main.js"></script>
		<script type="text/javascript">
		require(['../app/script/service/course.js'],function(course){
			//home.search();
            course.initDesc($(".desc-hidden"));
		});
		</script>
	</head>
	<body>
		<div class="header-wrap">
			<div class="header mta">
				<ul class="menu-item">
					<li><a href="javascript:void(0)" class="logo">
						<img class="fl" src="../app/image/tree-logo.png"><span class="logo-text fl">碗里学院</span></a>
					</li>
                    <li><a href="home.html">首页</a></li>
					<li class="cur-menu"><a href="javascript:void(0)">碗里课程</a></li>
					<li><a href="group.html">小组</a></li>
					<li><a href="mycourse.html">我的课程</a></li>
				</ul>
			</div>
		</div>
        <div class="banner">
            <img class="banner-bg" src="../app/image/bai1.jpg">
            <ul class="course-type">
                <li>
                    <div class="order-img oi-school fl"><img src="../app/image/NO1.png"></div>
                    <div class="type-item fl">
                        <a href="javascript:void(0)">大学一年级</a><a href="javascript:void(0)">大学二年级</a><a href="javascript:void(0)">大学三年级</a>
                        <a href="javascript:void(0)">大学四年级</a><a href="javascript:void(0)">研究生</a>
                    </div>
                </li>
                <li>
                    <div class="order-img oi-habit fl"><img src="../app/image/NO2.png"></div>
                    <div class="type-item fl">
                        <a href="javascript:void(0)">实用技能</a><a href="javascript:void(0)">兴趣爱好</a><a href="javascript:void(0)">IT技能</a>
                        <a href="javascript:void(0)">办公技能</a><a href="javascript:void(0)">职场软技能</a><a href="javascript:void(0)">社会软技能</a>
                    </div>
                </li>
                <li>
                    <div class="order-img oi-job fl"><img src="../app/image/NO3.png"></div>
                    <div class="type-item fl">
                        <a href="javascript:void(0)">职业规划</a><a href="javascript:void(0)">求职指导</a><a href="javascript:void(0)">创业指导</a>
                        <a href="javascript:void(0)">职位指导</a><a href="javascript:void(0)">雇主品牌</a>
                    </div>
                </li>
                <li>
                    <div class="order-img oi-future fl"><img src="../app/image/NO4.png"></div>
                    <div class="type-item fl">
                        <a href="javascript:void(0)">出国</a><a href="javascript:void(0)">公务员</a>
                        <a href="javascript:void(0)">银行</a><a href="javascript:void(0)">外国语</a><a href="javascript:void(0)">世界那么大</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="hot-course mta">
            <div class="hc-header">
                <a class="ci-title" href="javascript:void(0)">最热课程</a>
                <a href="javascript:void(0)">求职指南</a>
                <a href="javascript:void(0)">职业规划</a>
                <a href="javascript:void(0)">创业指导  </a>
            </div>
            <ul class="hc-items">
                <li>
                    <img src="../app/image/demo-item1.jpg">
                    <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                    <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                </li>
                <li>
                    <img src="../app/image/demo-item2.jpg">
                    <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                    <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                </li>
                <li>
                    <img src="../app/image/demo-item3.jpg">
                    <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                    <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                </li>
                <li class="m-r0">
                    <img src="../app/image/demo-item4.jpg">
                    <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                    <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                </li>
                <li>
                    <img src="../app/image/demo-item5.jpg">
                    <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                    <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                </li>
                <li>
                    <img src="../app/image/demo-item6.jpg">
                    <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                    <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                </li>
                <li>
                    <img src="../app/image/demo-item7.jpg">
                    <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                    <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                </li>
                <li class="m-r0">
                    <img src="../app/image/demo-item8.jpg">
                    <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                    <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                </li>
            </ul>
        </div>
        <div class="week-course mta">
            <div class="wc-header">
                <a class="wci-title" href="javascript:void(0)">本周精选课程</a>
            </div>
            <ul class="wc-items desc-hidden">
                <li>
                    <img src="../app/image/demo-item5.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
                <li>
                    <img src="../app/image/demo-item6.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
                <li class="m-r0">
                    <img src="../app/image/demo-item3.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
                <li>
                    <img src="../app/image/demo-item7.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
                <li>
                    <img src="../app/image/demo-item7.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
                <li class="m-r0">
                    <img src="../app/image/demo-item3.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="week-course mta">
            <div class="wc-header lc-header">
                <a class="wci-title lci-title" href="javascript:void(0)">最近上线课程</a>
            </div>
            <ul class="wc-items desc-hidden">
                <li>
                    <img src="../app/image/demo-item5.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
                <li>
                    <img src="../app/image/demo-item6.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
                <li class="m-r0">
                    <img src="../app/image/demo-item3.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
                <li>
                    <img src="../app/image/demo-item7.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
                <li>
                    <img src="../app/image/demo-item7.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
                <li class="m-r0">
                    <img src="../app/image/demo-item3.jpg">
                    <div class="hide-desc">
                        <p class="hci-title"><a href="javascript:void(0)">2014年就业报告</a></p>
                        <p>2014年大学生就业形势分析 经过了2013年严峻的就业形势,大家对2014年大学生就业形势</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="week-course mta">
            <div class="wc-header lc-header">
                <a class="wci-title tci-title" href="javascript:void(0)">讲师封神榜</a>
            </div>
            <div><!--鼠标移动滑出介绍--></div>
        </div>
        <div class="week-course mta">
            <div class="wc-header pc-header">
                <a class="wci-title pci-title " href="javascript:void(0)">合作伙伴</a>
            </div>
            <ul class="wc-items pa-items">
                <li>
                    <img src="../app/image/logo_xdf.png">
                </li>
                <li>
                    <img src="../app/image/bs.jpg">
                </li>
                <li class="m-r0">
                    <img src="../app/image/ali.png">
                </li>
                <li>
                    <img src="../app/image/ccg.jpg">
                </li>
                <li>
                    <img src="../app/image/jkgy.jpg">
                </li>
                <li class="m-r0">
                    <img src="../app/image/hjw.jpg">
                </li>
                <li>
                    <img src="../app/image/bs.jpg">
                </li>
                <li>
                    <img src="../app/image/ali.png">
                </li>
                <li class="m-r0">
                    <img src="../app/image/ccg.jpg">
                </li>
            </ul>
        </div>
        <div class="footer">
            <div class="footer-content mta">
                <ul class="fl wanli-school">
                    <li class="title">碗里校园</li>
                    <li><a href="javascript:void(0)">碗里学院 NEW!</a></li>
                    <li><a href="javascript:void(0)">加入我们</a></li>
                    <li><a href="javascript:void(0)">寻求合作</a></li>
                    <li><a href="javascript:void(0)">联系我们</a></li>
                    <li><a href="javascript:void(0)">客户端下载</a></li>
                    <li><a href="javascript:void(0)">投诉邮箱：lapuda@163.com</a></li>
                </ul>
                <ul class="fl wanli-school reader">
                    <li class="title">订阅</li>
                    <li><a href="javascript:void(0)">RSS订阅</a></li>
                    <li><a href="javascript:void(0)">邮箱订阅</a></li>
                    <li><a href="javascript:void(0)">线下活动订阅</a></li>
                    <li><a href="javascript:void(0)">官方微博</a></li>
                    <li><a href="javascript:void(0)">Twitter</a></li>
                </ul>
                <ul class="fl supported-service">
                    <li><a href="javascript:void(0)"><img src="../app/image/alyun.png"></a></li>
                    <li><a href="javascript:void(0)"><img src="../app/image/txyun.png"></a></li>
                    <li><a href="javascript:void(0)"><img src="../app/image/upyun.png"></a></li>
                    <li><a href="javascript:void(0)"><img src="../app/image/dnspod.png"></a></li>
                    <li><a href="javascript:void(0)"><img src="../app/image/qiniuyun.png"></a></li>
                </ul>
                <ul class="fl site-info">
                    <li class="title">本站由 WebLuker 提供 CDN 加速服务，开发协作工具由 Lapuda.cc提供。我们使用 Slack 进行沟通。</li>
                    <li>Powered By LAPUDA ©2011-2014</li>
                    <li>沪ICP备12031756号</li>
                    <li>沪公网安备11010802012285号</li>
                </ul>






            </div>
        </div>
	</body>
</html>