<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit" />
		<title>碗里学院</title>
        <link rel="stylesheet" type="text/css" href="../app/css/common.css">
		<link rel="stylesheet" type="text/css" href="../app/css/home.css">
		<script type="text/javascript" src="../app/script/libs/require.js"></script>
		<script type="text/javascript" src="../app/script/service/main.js"></script>
		<script type="text/javascript">
		require(['../app/script/service/home.js'],function(home){
			//home.search();
		});
		</script>
	</head>
	<body>
		<div class="header-wrap">
			<div class="header mta">
				<ul class="menu-item">
					<li><a href="javascript:void(0)" class="logo">
						<img class="fl" src="../app/image/tree-logo.png"><span class="logo-text fl">碗里学院</span></a>
					</li>
					<li><a href="home.html">首页</a></li>
					<li><a href="course.html">碗里课程</a></li>
					<li><a href="group.html">小组</a></li>
					<li><a href="mycourse.html">我的课程</a></li>
				</ul>
			</div>
		</div>
        <div class="banner">
            <div class="main-search serch-box">
                <input type="text" class="input-field" value="" placeholder="美好课程从搜索开始"/>
                <span class="serch-btn fr"></span>
            </div>
            <img src="../app/image/007.jpg">
        </div>
        <div class="tasty-course">
            <ul class="icecream-list mta">
                <li class="fl"><img src="../app/image/ice-candy-orange.jpg"></li>
                <li class="fl"><img src="../app/image/ice-candy-colorful.jpg"></li>
                <li class="fl"><img src="../app/image/icecandy-chocolate.jpg"></li>
            </ul>
            <div class="tasty-desc">
                <p class="t-d-title">这里有各种口味的视频课程，看起来很好吃的样子</p>
                <p class="t-d-list">兴趣爱好  实用技能  职业技能  素养提升  职业规划   就业/创业教育  社会岗位认知  企业认知</p>
            </div>
        </div>
        <div class="level-course">
            <div class="pencil">
                <img src="../app/image/pencil.png">
            </div>
            <div class="pencil-desc">
                <p class="p-d-title"><span class="l-one">大学一年级</span><span class="l-two">大学二年级</span><span class="l-three">大学三年级</span><span class="l-four">大学四年级</span></p>
                <p class="p-d-list">贯穿大学四年的完成课程体系，帮助同学了解社会、掌握技能，顺利走向社会适应社会</p>
            </div>
        </div>
        <div class="bai">
            <div class="pencil">
                <img src="../app/image/bai.jpg">
            </div>
            <div class="bai-desc">
                <p class="b-d-title">这里有各种“<span>奇葩</span>”讲师，应接不暇</p>
                <p class="b-d-list">企业CEO   企业HR   大学教授   IT码农   兴趣狂人   社会怪蜀黍   各界精英   后街扛把子</p>
            </div>
        </div>
        <div class="partner">
                <p class="partner-desc">一群徘徊在<span>牛A</span>和<span>牛C</span>之间的合作伙伴</p>
            <ul class="partner-list">
                <li><img src="../app/image/ali.png"></li>
                <li><img src="../app/image/baidu.png"></li>
                <li><img src="../app/image/debang.png"></li>
                <li class="m-r0"><img src="../app/image/logo_xdf.png"></li>
                <li><img src="../app/image/hw.png"></li>
                <li><img src="../app/image/sf.png"></li>
                <li><img src="../app/image/logo_luolai.jpg"></li>
                <li class="m-r0"><img src="../app/image/qiyi.png"></li>
            </ul>
        </div>
        <div class="footer">
            <div class="footer-content mta">
                <ul class="fl wanli-school">
                    <li class="title">碗里校园</li>
                    <li><a href="javascript:void(0)">碗里学院 NEW!</a></li>
                    <li><a href="javascript:void(0)">加入我们</a></li>
                    <li><a href="javascript:void(0)">寻求合作</a></li>
                    <li><a href="javascript:void(0)">联系我们</a></li>
                    <li><a href="javascript:void(0)">客户端下载</a></li>
                    <li><a href="javascript:void(0)">投诉邮箱：lapuda@163.com</a></li>
                </ul>
                <ul class="fl wanli-school reader">
                    <li class="title">订阅</li>
                    <li><a href="javascript:void(0)">RSS订阅</a></li>
                    <li><a href="javascript:void(0)">邮箱订阅</a></li>
                    <li><a href="javascript:void(0)">线下活动订阅</a></li>
                    <li><a href="javascript:void(0)">官方微博</a></li>
                    <li><a href="javascript:void(0)">Twitter</a></li>
                </ul>
                <ul class="fl supported-service">
                    <li><a href="javascript:void(0)"><img src="../app/image/alyun.png"></a></li>
                    <li><a href="javascript:void(0)"><img src="../app/image/txyun.png"></a></li>
                    <li><a href="javascript:void(0)"><img src="../app/image/upyun.png"></a></li>
                    <li><a href="javascript:void(0)"><img src="../app/image/dnspod.png"></a></li>
                    <li><a href="javascript:void(0)"><img src="../app/image/qiniuyun.png"></a></li>
                </ul>
                <ul class="fl site-info">
                    <li class="title">本站由 WebLuker 提供 CDN 加速服务，开发协作工具由 Lapuda.cc提供。我们使用 Slack 进行沟通。</li>
                    <li>Powered By LAPUDA ©2011-2014</li>
                    <li>沪ICP备12031756号</li>
                    <li>沪公网安备11010802012285号</li>
                </ul>






            </div>
        </div>
	</body>
</html>